.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.background
{
  background-color: #282c34;
  color: white;
}
.title
{
  color: #10121a;
  text-align: center;
  padding: "10px"
}
.input
{
 margin-left: 30%;
 margin-right: 30%;
 height: 40px;

 margin-bottom: 3%;
 padding-left: 1%;
}

.device
{
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 35%;
  width: 500px;
  height: 50px;
}
.back
{
  background-color: white;
  color: black;
  border: 2px solid #4c87af;
  margin: 2%;
  width: 100px;
  height: 30px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
